body {
    background-color: rgb(95, 183, 242);
}

.title {
    display:flex;
    flex-direction: column;
    align-items: center;
}

.sketch {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 40px;
    background-color: rgb(242, 86, 86);
    border-radius: 10;
    height: 700px;
    width: 800px;
}

.description {
    font-size: 10px;
}


.container {
    display: flex;
    flex-wrap: wrap;
    width: 600px;
    height: 600px;
    background-color: rgb(157, 190, 203);
}


.newdiv {
    background-color: aquamarine;
    transition: 0.2s;
}

.newerclass {
    background-color: red;
}